.trace-container {
  display: grid;
  grid-template-columns: 995px 400px;
  grid-template-areas: "code-side widget-side";
  grid-column-gap: 10px;
  justify-content: center;
}

.trace-code-side {
  grid-area: code-side;
}

.trace-widget-side {
  grid-area: widget-side;
}
