.widget-side-container {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-auto-flow: row;
  position: sticky;
  align-self: start;
  top: 10px;

}

.first-item {
  grid-column: 1 / 2;
}

.widget-item {
  grid-column: 1 / 2;
}
