<div class="code-line">
  <div class="line-num">
    000100
  </div>
  <div class="code">
    <pre>HABASUBA DABA</pre>
  </div>
  <div class="order">
    000100
  </div>
  <div class="statement">
    000100
  </div>
</div>
<div class="code-line">
  <div class="line-num">
    000100
  </div>
  <div class="code">
    <pre>habasuba daba</pre>
  </div>
  <div class="order">
    000100
  </div>
  <div class="statement">
    000100
  </div>
</div>
<div class="code-line">
  <div class="line-num">
    {{this.codeLine.lineNumber}}
  </div>
  <div class="code">
    <pre>{{this.codeLine.code}}</pre>
  </div>
  <div class="order">
    {{this.codeLine.order}}
  </div>
  <div class="statement">
    {{this.codeLine.statement}}
  </div>
</div>
