.code-line {
  display: grid;
  grid-template-columns: 65px 800px 65px 65px;
  grid-template-areas: "lineNum code order statement";
  align-items: center;
}

.line-num {
  grid-column: 1 / 2;
  text-align: center;
}

.code {
  grid-column: 2 / 3;
}

.statement {
  grid-column: 3 / 4;
  text-align: right;
}

.order {
  grid-column: 4 / 5;
  text-align: right;
}

pre {
  font-family: Consolas, serif; font-style: normal; font-variant: normal; font-weight: 400;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

